:root {
    --font-color: #E94B3CFF;
    --bg-color: #2D2926FF;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('./fonts/Bebas_Neue/BebasNeue-Regular.ttf') format('truetype');
    font-weight: normal;    
    font-style: normal;    
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    color: var(--font-color);
    font-family: 'Bebas Neue', cursive;
}

main {
    font-size: 2rem;
    font-weight: normal;
    background-color: var(--bg-color);
    padding: 2rem 4rem;
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin: 0;
    padding: 2rem 0;
}

select {
    font-family: inherit;
    background-color: inherit;
    color: inherit;
}

select > option {
    font-family: inherit;
    background-color: var(--bg-color);
    color: var(--font-color);
}

label {
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
}

fieldset {
    border: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
}

input {
   position: absolute;
   left: -9999rem;
   overflow: visible;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
}

.feeding-row-lbs {
    grid-row: 1;
    grid-column: 1;
    visibility: hidden;
}

.feeding-row-lbs.selected-lbs {
    visibility: visible;
}

.feeding-row-kg {
    grid-row: 1;
    grid-column: 1;
    visibility: visible;
}

.feeding-row-kg.hidden-kg {
    visibility: hidden;
}

.weight-selector {
    padding: 1rem 1rem;
    flex: 0 0 6%;
    transition: all 0.3s ease-in-out;
}

.weight-selector:hover {
    background-color: var(--font-color);
    color: var(--bg-color);
    cursor: pointer;
}

.weight-selector.clicked {
    background-color: var(--font-color);
    color: var(--bg-color);
}

.form-selection {
    padding-top: 1rem;
}

.form-label {
    padding-right: 2rem;
}

#output {
    color: inherit;
}

.calculator-container {
    display: grid;
    gap: 1rem;
    flex: row wrap;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-template-rows: auto;
}

.quantites-section {
    align-self: start;
}